<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <script src="js/bootstrap.min.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <title>Coordenação</title>
        <link rel="stylesheet" href="css/perfil.css">
        
        

    </head>

    <body class="fundo">
        <div class= "container-fluid">
            <div class= "container">
                <div class= "row" >
                    <div class="barra texto">
                        <p><img src="logo.png" width="66" height="57">
                        CMEI Pedro Dambros</p>
                    
                        <ul>
                            <li><a class="active" href="#home">Perfil</a></li>
                            <li><a href="#news">Coordenação</a></li>
                            <li><a href="#contact">Secretaria</a></li>
                            <li><a href="#about">Professores</a></li>
                            <li><a href="#news">Turmas</a></li>
                            <li><a href="#contact">Alunos</a></li>
                            <li><a href="#about">Calendário</a></li>
                            <li><a href="#news">Coordenação</a></li>
                            <li><a href="#contact">Configurações</a></li>
                            <li class="sair"><a href="#about">Sair</a></li>
                        </ul>
                    </div>
                    <div class="organize">
                        <div class="col-6 esquerdo">
                            <a href=""><img src="editar1.png" class="editar"></a>
                            <p><img src="foto1.png" class="foto">
                            <a href=""><img src="cam1.png" class="cam"></a></p>
                            <p class="texto2">Cmei Pedro Dambros</p>
                            <div id="linha-horizontal"></div>
                            <div class="alinhamento">
                                <p class="texto3">Endereço</p>
                                <p class="texto4">Rua Castro Alves, 1227 - Centro</p>
                                <div id="linha-horizontal"></div>
                                <p class="texto3">Telefone</p>
                                <p class="texto4">(45) 3305-6985</p>
                            </div>
                            <div id="linha-horizontal"></div>
                        </div>
                        <div class="col-6 direito">
                            <a href=""><img src="editar2.png" class="editar"></a>
                            <p><img src="foto2.png" class="foto">
                            <a href=""><img src="cam2.png" class="cam"></a></p>
                            <p class="texto5">Anderson da Silva</p>
                            <div id="linha-horizontal2"></div>
                            <div class="alinhamento">
                                <p class="texto6">Cargo</p>
                                <p class="texto7">Diretor</p>
                                <div id="linha-horizontal2"></div>
                                <p class="texto6">E-mail</p>
                                <p class="texto7">aspedrodambros@email.com</p>
                                <div id="linha-horizontal2"></div>
                                <p class="texto6">Telefone</p>
                                <p class="texto7">(45) 9 8836-0625</p>
                            </div>
                            <div id="linha-horizontal2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

    </body>
</html>