/* nome */
.texto5 {
  color: #2F80ED;
  font-weight: medium;
  font-size: 25px;
}

/* titulo dos campos */
.texto6 {
  color: #4F4F4F;
  font-weight: medium;
  font-size: 15px;
}

/* preenchimento dos campos */
.texto7 {
  color: #4F4F4F;
  font-weight: medium;
  font-size: 20px;
}

/* Coordenadores */
.texto8 {
  color: white;
  font-weight: 600;
  font-size: 36px;
}

/* organiza os botoes em lista */
li b {
  display: block;
  color: #084C7C;
  text-align: center;
  padding: 0px 10px;
}

/* destaca os botoes por onde o mouse passa */
li b:hover {
  background-color: #084C7C;
  border-radius: 25px;
}

/* destaca o botao selecionado */
.activeBtn{
  background-color: #084C7C;
  border-radius: 25px;
}

/* organiza o lado esquerdo da tela */
.esquerdo{
  background-color: #016BB7;
  padding: 80px 30px 80px 30px;
  height: 800px;
  border-radius: 70px 0 0 70px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

/* organiza o lado direito da tela */
.direito{
  background-color: white;
  padding: 80px 30px 80px 30px;
  height: 800px;
  border-radius: 0 70px 70px 0;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
}

/* organiza as telas esquerda e direita */
.organize {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 130px 0 0 0;
  align-items: center;
}

/* organiza o icone da camera */
.cam {
  width: 32px;
  height: 32px;
  margin-top: 100px;
}

/* organiza o icone da foto */
.foto {
  width: 146px;
  height: 140px;
}

/* organiza o botao editar */
.editar {
  width: 33px;
  height: 38px;
  margin-left: 500px;
  margin-top: -45px;
}

/* adiciona uma linha horizontal cinza */
#linha-horizontal2 {
  width: 300px;
  border: 1px solid #4F4F4F;
}

/* alinha os campos a esquerda */
.alinhamento {
  text-align: left;
}

/* adiciona o campo de busca */
/* adiciona o campo de busca */
#divBusca{
  margin-top: 30px;
  width: 400px;
  background-color:white;
  border:solid 2px #084C7C;
  border-radius:10px;

}

/* organiza o texto do campo de busca */
#txtBusca{
  margin-left: 20px;
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  width: 320px;
}
/* cria o botao do campo de busca */
#btnBusca{
  float:left;
  margin-left: 165px;
  margin-top: 2px;
}

/* adiciona imagem ao botao do campo de busca */
#divBusca img{
  float:left;
}

/* organiza os bototes de coordenadores em lista */
.coordList {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  justify-content: center;
}

/* formatação dos botoes de coordenadores */
#coord{
  background-color: white; 
  border:none;
  color: #016BB7;
  border-radius:10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width:400px;
  height:32px;
}