<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script src="js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Secretaria</title>
    <link rel="stylesheet" href="css/adcSecretaria.css">
    <link rel="stylesheet" href="css/menu.css">
</head>

<body class="fundo">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="barra texto">
                    <p><img src="imagens/logo.png" width="66" height="57"> CMEI Pedro Dambros</p>
                    <ul>
                        <li><a href="Perfil.html">Perfil</a></li>
                        <li><a href="CsltCoordenação.html">Coordenação</a></li>
                        <li><a class="active" href="CsltSecretaria.html">Secretaria</a></li>
                        <li><a href="#about">Professores</a></li>
                        <li><a href="#news">Turmas</a></li>
                        <li><a href="#contact">Alunos</a></li>
                        <li><a href="#about">Calendário</a></li>
                        <li><a href="#contact">Configurações</a></li>
                        <li><a href="Login.html">Sair</a></li>
                    </ul>
                </div>
                <div class="organize">
                    <div class="col-6 esquerdo">
                        <p class="texto8">Secretaria</p>
                        <div>
                            <table>
                                <tr>
                           <td><a class="activeBtn" href="CsltSecretaria.html"><img src="imagens/CsltSecretaria.png"></a></td>
                           <td><a class="activeBtn" href="AdcSecretaria.html"><img src="imagens/AdcSecretaria.png"></a><td>
                            <td><a class="activeBtn" href="ArqSecretaria.html"><img src="imagens/ArqSecretaria.png"></a><td>
                            </tr>
                            </table>
                            </div>
                            <div id="divBusca">
                                <p><input type="text" id="txtBusca" placeholder="Buscar..." />
                                    <img src="imagens/buscar.png" alt="Buscar"/>
                                </p>
                        </div>
                        <div class="coordList">
                            <li>
                                <p>
                                    <c href=""><button id="coord">Maria Lucia</c>
                                </p>
                            </li>
                            <li>
                                <p>
                                    <c href=""><button id="coord">Aline Souza</c>
                                </p>
                            </li>
                        </div>
                    </div>
                    <div class="col-6 direito">
                        <p><img src="imagens/foto2.png" class="foto">
                            <a href=""><img src="imagens/cam2.png" class="cam"></a>
                        </p>
                        <p class="input-container">
                            <input id="name" class="input" type="text" pattern=".+" required />
                            <label class="label" for="name">Nome*</label>
                        </p>
                        <p class="input-container">
                            <input id="email" class="input" type="email" pattern=".+" required />
                            <label class="label" for="email">E-mail*</label>
                        </p>
                        <p class="input-container">
                            <input id="cpf" class="input" type="text" pattern=".+" required />
                            <label class="label" for="cpf">CPF*</label>
                        </p>
                        <p class="input-container">
                            <input id="telefone" class="input" type="text" pattern=".+" required />
                            <label class="label" for="telefone">Telefone*</label>
                        </p>
                        <p class="input-container">
                            <label class="label">Selecionar plantão*
                                <select>
                                    <option value="0">Matutino</option>
                                    <option value="1">Vespertino</option>
                                </select></label>
                        </p>
                        <p class="texto9">*Li e aceito os termos de uso.
                            <input type="checkbox">
                        </p>
                        <p class="texto9"><a href="https://www.mozilla.org/pt-BR/">Clique aqui para acessar os termos de
                                uso</a></p>
                        <button type="button" class="btn btn-primary botao2 btn-lg">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>