<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

    <title>Login</title>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>

<body class="fundo">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-6 login2">
                    <form method="post" th:action="@{/login}" >
                        <h1 class="cmei2">CMEI</h1>
                        <img th:src="@{imagens/logo.png}" width="200" height="200">
                        <p class="texto2">Bem-vindo!</p>

                        <p class="input-container">
                            <input id="username" class="input" type="email" pattern=".+" required />
                            <label class="label" for="username">E-mail*</label>
                        </p>
                        <p class="input-container">
                            <input id="password" class="input" type="password" pattern=".+" required />
                            <label class="label" for="password">Senha*</label>
                        </p>

                        <button type="submit" name="entrar" class="btn btn-primary botao btn-lg"
                            style="background-color:#016BB7;color: white;">Acessar</button>
                    </form>
                </div>
                <div class="cadastro2 col-6">
                    <h1 class="cmei">CMEI</h1>
                    <p><img th:src="@{imagens/logo.png}" width="200" height="200">
                    <p class="texto">Primeiro vez aqui?</p>
                    <a th:href="@{/cadastro}"> <button type="button"
                            class="btn btn-primary botao btn-lg">Cadastrar</button></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>