<!DOCTYPE html>
<html lang="pt-br">

<head>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="js/teste.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

    <title>Perfil</title>
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="css/nav.css">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg main-nav px-0">
   
        <div class="collapse navbar-collapse" id="mainMenu">
          <ul class="navbar-nav ml-auto text-uppercase f1">
            <li>
              <a href="#home" class="active active-first">home</a>
            </li>
            <li>
              <a href="#about">about us</a>
            </li>
            <li>
              <a href="#service">services</a>
            </li>
            <li>
              <a href="#project">projects</a>
            </li>
            <li>
              <a href="#team">team</a>
            </li>
            <li>
              <a href="#testimony">testimonils</a>
            </li>
            <li>
              <a href="#contact">contact</a>
            </li>
          </ul>
        </div>
      </nav>
</body>